html, body {
    position: flex;
    font-family: 'Helvetica';
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    align-items: center;
    justify-content: center;
}

.header {
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    height: 69px;
    width: 100%;
    padding: 0;
    background-color: black;
    border-bottom: 1px solid seashell;
    text-align: right;
    z-index: 1;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mission {
    position: flexbox;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 70px;
    padding: 20px;
    text-align: center;
    background-color: black;
    z-index: 0;
}

.cupofteapic {
    position: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    padding: 20px;
    text-align: center;
    z-index: -1;
}

.logo img {
    height: 50px;
    width: auto;
    margin-left: 10px;
}

nav ul {
    display: inline-flexbox;
    justify-content: right;
    list-style-type: none;
    margin-right: 20px;
    padding: 10px;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px; /* Adjust margin between items as needed */
  }
  
  nav ul li:first-child {
    margin-left:20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #fff; /* Adjust link color as needed */
  }