html, body {
    position: flex;
    font-family: 'Helvetica';
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    align-items: center;
    justify-content: center;
}

.header {
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    height: 69px;
    width: 100%;
    padding: 0;
    background-color: black;
    border-bottom: 1px solid seashell;
    text-align: right;
    z-index: 1;
    overflow: hidden;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: inline-flexbox;
    justify-content: right;
    list-style-type: none;
    margin-right: 20px;
    padding: 10px;
  }
  
  nav ul li {
    display: inline-block;
    margin-left: 20px; /* Adjust margin between items as needed */
  }
  
  nav ul li:first-child {
    margin-left:20px;
  }
  
  nav ul li a {
    text-decoration: underline;
    color: #fff; /* Adjust link color as needed */
  }

  .mission {
    position: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: 70px;
    text-align: center;
    background-color: black;
    z-index: 0;
}

.cupofteapic {
    position: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    text-align: center;
    z-index: -1;
}

.logo img {
    height: 50px;
    width: auto;
    margin-left: 10px;
}

.missionstatement {
  position: absolute;
  text-align: center;
  height: 100px;
  width: 100%; /* Adjust width as needed */
  top: 50%; /* Position from top */
  left: 50%; /* Position from left */
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  background-color: black;
}

.missionstatement h2,
.missionstatement h4 {
  margin: 0; /* Remove default margins */
  padding: 10px;
}

.teaofmonth {
  position: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: auto;
  margin-top: 770px;
  text-align: center;
  background-color: black;
  z-index: 0;
}

.fallberrypic img {
  height: 200px;
  width: 300px;
}

.spicedrumpic img {
  height: 200px;
  width: 300px;
}

.donutspic img {
  height: 200px;
  width: 300px;
}

.myrtleteapic img {
  height: 200px;
  width: 300px;
}

.bedfordteapic img {
  height: 200px;
  width: 300px;
}